<a href="#order-pick-up-{{ object.pk }}" class="popup-with-zoom-anim button gray ripple-effect"><i class="icon-material-outline-location-on"></i> Pick-up </a>
<div id="order-pick-up-{{ object.pk }}" class="zoom-anim-dialog mfp-hide dialog-with-tabs small-dialog-2">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Pick-up</h3>
				</div>


					
				<div class="job-listing-footer">
					<ul class="dashboard-box-list">
						<li><i class="icon-feather-user"></i>&nbsp;&nbsp;
							{% if object.pickup_contact_name %}
								<h4 class="capitalize">{{object.pickup_contact_name  | lower }}</h4>
							{% endif %}
						</li>
					</ul>
					<ul class="dashboard-box-list">
						<li><i class="icon-feather-phone"></i>&nbsp;&nbsp; 
							{% if object.pickup_contact_phone_number %}
								<span class="capitalize"><a href="tel:+{{object.pickup_contact_phone_number}}">+{{object.pickup_contact_phone_number}}</a></span>
							{% endif %}
						</li>
					</ul>
					<ul class="dashboard-box-list">
						<li><i class="icon-material-outline-location-on"></i>&nbsp;&nbsp; {{object.pickup_location_name}}</li>
					</ul>

				</div>

			</div>

		</div>
	</div>
</div>
<!-- Leave a Review Popup / End -->
