{% extends "base.html" %}{% load static %}
{% block title %} Add a user {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static "theme/css/jquery.datetimepicker.min.css" %}">
<link rel="stylesheet" href="{% static "theme/css/form.css" %}">
{% endblock %}

{% block content %}
<div>			

	<!-- Row -->
	<div class="row">
		<div class="col-xl-12">
			<div class="dashboard-box margin-top-0">



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Add a user</h2>
                <p>Fill out the form below to add a new user</p>

				<form action="" method="post" id="msform">
					{% csrf_token %}
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-xl-7">
                                    <h2 class="fs-title">User details</h2>
                                </div>
                            </div> 

							<div class="row">
								<div class="col-xl-12" id="step1-errors">
								</div>
							</div>



							<div class="submit-field">
								<div class="row">
									<div class="col-xl-12">
										<h6>Full names</h6>
										<div class="submit-field">
											<input type="text" name="name" class="with-border" id="name">
										</div>
									</div>
									<div class="col-xl-12">
										<h6>Email</h6>
										<div class="submit-field">
											<input type="email" name="email" class="with-border" id="email">
										</div>
									</div>
								</div>
							</div>



                        </div> <input type="button" id="form-submit" name="next" class="next action-button" value="Submit"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


				</div>

			</div>
		</div>

	</div>
	<!-- Row / End -->

</div>
{% endblock content %}
{% block scripts %}
<script>
  $(document).ready(function() {
     $("#form-submit").click(function(event) {
        event.preventDefault();
		var inp = $('#name').val();
		if(inp == undefined || $.trim(inp).length < 1){
			var error = `
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				 Enter a valid name
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			`;
			$('#step1-errors').html(error);
			return;
		}

		var inp = $('#email').val();
		if(inp == undefined || $.trim(inp).length < 1){
			var error = `
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				 Invalid email
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			`;
			$('#step1-errors').html(error);
			return;
		}

		$('#msform').submit();
     });
  });
</script>
{% endblock scripts %}
