{% extends "base_iframe.html" %}{% load static %}
{%block title %} Login {% endblock %}
{% block content %}
		<div class="col-xl-5 offset-xl-3">

				{% if not object.deleted or object.is_active %}
			<div class="login-register-page">
				<div class="welcome-text">
					<h4 style="font-size: 26px;">You are about to remove <b>{{ object.user.first_name }}</b> from <b>{{ object.organization.name }}</b></h4>
				</div>
				{% for field in form %}
				  {% if field.errors %}
					{% for error in field.errors %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
					  {{ error }}
					  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endfor %}
				  {% endif %}
				{% endfor %}				
				<!-- Form -->
				<form method="post">
					{% csrf_token %}
					<input type="hidden" class="input-text with-border" name="remove" value="1"/>
					<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" name="accept_join" >Confirm <i class="icon-material-outline-arrow-right-alt"></i></button>
				</form>

				{% else %}
				<div class="row">
					<div class="col-xl-12">
						<section id="not-found" class="center margin-top-50 margin-bottom-25">
							<h2><i class="icon-line-awesome-question-circle"></i></h2>
							<p> <b>{{ object.user.first_name }}</b> is not a member of <b>{{ object.organization.name }}</b></p>
						</section>
					</div>
				</div>
				{% endif %}
		</div>

{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function() {
     $("#submit_join").click(function(event) {
		console.log("Here");
        event.preventDefault();
		var password = $('#password').val().trim();
		var confirm_password = $('#confirm_password').val().trim();
		if(password.length < 6){
		console.log("Here");
			var error = `
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				 Password must be greater that 6 chars
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			`;
			$('#step-errors').html(error);
			return;
		}
		if(confirm_password.length < 6){
			var error = `
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				 Confirm password must be greater that 6 chars
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			`;
			$('#step-errors').html(error);
			return;
		}

		if(password != confirm_password){
			var error = `
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				 Passwords do not match
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			`;
			$('#step-errors').html(error);
			return;
		}
		
		$('#submit_join-form').submit();
     });
  });
</script>
{% endblock %}
